*{
    text-align: center;
}
.entry{
    margin-left: 50px auto;
    padding: 20px;
}
table{
    border: 2px solid black;
}
td{
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    
}
input{
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;

}

select{
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
    width:100%;
}
.savbtn{
    width:300px;
    padding: 5px;
    background-color: chartreuse;
    border: none;
    border-radius: 3px;
    transition: transform 0.10s, background 0.2s;
}
.savbtn:active{
    transform: scale(0.98);
    background: rgb(30, 221, 141);
}
